<!-- testing  -->

<!-- <app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<hr>
{{name}} <br>

<button type="button" class="btn btn-primary" (click)="listener()">Click here</button>

<P *ngIf="visibility">welcome to {{name}}</P>

<hr>

<ul>
    <li *ngFor="let item of list">{{item}}</li>
</ul>

<hr>

<input type="text" [(ngModel)]="store"> -->

<!-- ---------------------------------------------------------------------------------------------------------- -->

<!-- Login Component -->

<app-login></app-login>
